body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 0px;
  
  

}

*, h1, p {
  padding: 0px;
  margin: 0px;
  
}

img {
  max-width: 100%;
  display: block;

}

a {
  text-decoration: none;
  color:inherit;


}

.header-bg {
  background-color: var(--cor-12);
  padding-bottom: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  

  
}

.header-menu {
  display: flex;
  gap: 40px;

}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--cor-01);
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: var(--cor-01);
  transition: 1s;
  position: absolute;

}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  height: 2px;
  width: 100%;
  
}



@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
  }




 .header-menu a {
  background-color: var(--cor-11);
  padding: 12px 16px;
  border-radius: 4px;

 }

 .header-menu a:hover {
 background-color: var(--cor-10);
 }

 .header a:after {
  display: none;
 }
}
